/* body
{
    padding-top: 20px;
} */


.pageElement{text-align:center;
display: flex;
     align-items: center;
     justify-content: center;
/* 	 padding-left:650px; */
	 position:relative;
     margin: 0 auto;}

.btn-block {
    height: 47px;
    width: 108px;
/*     margin: -6px -50px; */
    position: relative;
/*     top: 50%;
    left: 50%; */
    /* padding-top: 50px; */
}
.btn-primary {
    color: #fff;
    background-color: #33b785;
    border-color: #2e6da4;
}
.btn-block:hover {
      background-color:#076340;
      transition: 0.7s;
  }
